@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

::selection{
  background: #7fad39;

}
.container{
  background: #fff;
  max-width: 410px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
.container form .title{
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}
.container form .title:before{
  content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: 3px;
  border-radius: 10px;
  background: linear-gradient(to right, #7fad39 0%, #7fad39 100%);
}
.container form .input-box{
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}
.container form .input-box input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}
.container form .underline::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}
.container form .underline::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #7fad39 0%, #7fad39 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;

}
.container form .input-box input:focus ~ .underline::after,
.container form .input-box input:valid ~ .underline::after{
  transform: scaleX(1);
  transform-origin: left;
}
.container form .button{
  margin: 40px 0 20px 0;
}
.container .input-box input[type="submit"]{
  background: #9cd743;
  font-size: 17px;
  color: rgb(255, 255, 255);
  border-radius: 5px ;
  border-color: #9cd743 ;
  cursor: pointer;
  width: 100%;
  height: 45px;
}
.container .option{
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
.container .facebook a, .container .google a{
  display: block;
  height: 45px;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  padding-left: 20px;
  line-height: 45px;
  color: #fff;
  border-radius: 5px;
}
.input-date{
  margin-top: 30px;
}
.input-date span{
  margin-left: 20px;
}
.input-sex{
  margin-top: 30px;
  margin-bottom: 20px;
 
}
.input-sex span{
  margin-left: 20px;
  word-spacing: 8px;
}

.container .facebook i, .container .google i{
  padding-right: 12px;
  font-size: 20px;
}
.container .google a{
  background: #e8050c ;
  margin: 15px 0 10px 0;
  text-align:center;
  font-size: 17px;
  word-spacing: 10px;
}
.container .facebook a{
  background:  #3b5998 ;
  margin: 10px 0 50px 0;
  text-align:center;
  font-size: 17px;
}

html, body{
    display: grid;
    height: 100vh;
    width: 100%;
    place-items: center;
    background: linear-gradient(to right, #7fad39 0%, #7fad39 100%);
}

.question{
  font-size: 15px;
}