@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
.product spad {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.col-lg-3 col-md-5{
	width: 100%;
}

.form .input-box {
    width: 100%;
    margin-top: 0px;
}
.input-box .form-control{
	padding : 0 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
input[type="text"] {
	width: 100%;
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
  }
  

  
  .inputWithIcon input[type="text"] {
	padding-left: 40px;
  }
  
  .inputWithIcon {
	position: relative;
  }
  
  .inputWithIcon i {
	position: absolute;
	left: 0;
	top: 8px;
	padding: 9px 8px;
	color: #aaa;
	transition: 0.3s;
  }
  
 
  .inputWithIcon.inputIconBg i {
	background-color: #aaa;
	color: #fff;
	padding: 9px 4px;
	border-radius: 4px 0 0 4px;
  }
  
 
  .button_edit input[type="submit"] {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    outline: none;
    border: none;
    background: #9cd743;
    font-size: 17px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: #9cd743;
    cursor: pointer;
    width: 200px;
    height: 45px;
  }
 
  .button_edit button {
	margin-top: 15px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    outline: none;
    border: none;
    background: #9cd743;
    font-size: 17px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: #9cd743;
    cursor: pointer;
    width: 200px;
    height: 45px;
  }
 
  .modal .Edit form{
	width: 700px;
	height: 400px;
	text-align: center;


  }
.tabs{
    display: flex;
    flex-direction: column;
}


.tablinks {
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  font-size: 13px;
  text-transform: uppercase;
  font-weight:600;
  transition: 0.2s ease;
}
.tablinks:hover{
  background :#7fad39;;
  color:#fff;
}

.input-box input[type="password" ]
{
	background-color:#fff ;
	color: black;
	padding: 9px 4px;
	border-radius: 4px 0 0 4px;
	margin-top: 15px;
	margin-left: 0;
	margin-bottom:15px;
	width: 200px;
	height: 50px;
}
.button_edit input[type="submit"]:hover {
  background-color:  #7fad39;
}
.container_edit{
	margin-top: 0;
}
.input-box, 
.button_edit{
	width: 500px;
}
  /* Modal Content/Box */
  .modal-content {
	margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    outline: none;
    border: none;
    background: #9cd743;
    font-size: 17px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: #9cd743;
    cursor: pointer;
    width: 200px;
    height: 45px;
  }
  
  /* The Close Button */
  .close {
	/* Position it in the top right corner outside of the modal */
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
  }
.row2{
 
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right:0;
    margin-left: 51px;
    flex-direction: row;
}
.sidebar__item_2 h4{
	font-size:20px;
	margin-bottom:15px;
	text-align: center;
}
.tabcontent_active{
	 margin-left: 50px;
}
.tabs .tablinks_active{
	background:  #9cd743;
	border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  font-size: 13px;
  text-transform: uppercase;
  font-weight:600;
  transition: 0.2s ease;
}
  
